


<nav class="navbar navbar darck bg-info">
  <a class=""navbar-info href="/" class="text-white">
    Luna Productos
  </a>
</nav>


<div class="container">
  <button onclick="location.href='/producto'" class="btn btn-primary">Registrar</button>
      <!--listar-->
      <div class="table-responsive ">
        
    
        <table class="table table-bordered  text-center mt-4">
        <thead>
        <tr class="bg-info text-white">
          <td scope="col">Codigo</td>
          <td scope="col">Descripcion</td>
          <td scope="col">Precio</td>
          <td scope="col">Acciones</td>

      </tr>
        </thead>
        <!--Poder recorrer el arreglo / efecto sombreado con list group item action -->
        <tbody> 
        <tr *ngFor="let producto of productoArray"  class="text-white"
      >
        <td>{{producto.codigo}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
      
        <td>
          <button (click)="EditarProducto(producto)" class="btn btn-info">Editar</button> 

        <button (click)="Eliminar(producto)" class="btn btn-danger">Eliminar</button>
      
      </td>
    </tr>
  </tbody>
      </table>
    </div>
    <br>
    <br>
    <br>

      <div class="card mt-4 ">
        <!--Para el formularioque se muestre en el ul-->
        <div class="cardtext-white border-white custom-card">
          <div class="card-header text-white bg-info ">Producto</div>
          <div class="card-body text-white ">
          
          <div class="form-group text-white ">
            <input type="text" [(ngModel)]="selectedProducto.descripcion" placeholder="Ingrese Descripcion "  class="form-control">

          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedProducto.precio" placeholder="Ingrese Precio "  class="form-control">

          </div>

          <button (click)="addOrEdit()" class="btn btn-primary">Enviar</button>
      </div>
    </div>

    
</div>

